[alias]

    # rebase interactive 'rebase -i'
    rbi = rebase -i

    # commit -m 
    cm = commit -m 

    # checkout new branch, checkout -b
    chb = checkout -b

    # checkout, checkout
    ch = checkout

    # cherry-pick, cherry-pick 
    cp = cherry-pick

    # add
    aa = add .


[merge]
	conflictstyle = diff3
[github]
	user = jasonslchen
    email = jasonslchen@github.com

