[alias]

    # status
    s = status
    # rebase interactive 'rebase -i'
    rbi = rebase -i

    # rebase
    rb = rebase

    # rebase --continue
    rbc = rebase --continue
    
    # rebase --abort
    rba = rebase --abort
    
    # git reset --soft HEAD~1
    sr = reset --soft HEAD~1

    main = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4

    # pull 
    down = !"git pull origin $(git main)"

    # git pull --rebase origin/master
    up = !"git pull --rebase origin $(git main)"

    # push --force
    pf = push --force

    # commit -m 
    cm = commit -m 

    # checkout new branch, checkout -b
    chb = checkout -b

    # checkout, checkout
    ch = checkout

    # cherry-pick, cherry-pick 
    cp = cherry-pick

    # add --all
    aa = add --all

    # add --patch
    ap = add --patch

    # diff
    d = diff

    # diff --staged
    ds = diff --staged


    
    [push]
        autoSetupRemote = true

    [merge]
	conflictstyle = diff3
    [github]
	user = jasonslchen
        email = jasonslchen@github.com

