[alias]

    # rebase interactive 'rebase -i'
    rbi = rebase -i

    # rebase
    rb = rebase
    
    # pull 
    p = pull

    # git pull --rebase origin master
    up = pull --rebase origin master

    # commit -m 
    cm = commit -m 

    # checkout new branch, checkout -b
    chb = checkout -b

    # checkout, checkout
    ch = checkout

    # cherry-pick, cherry-pick 
    cp = cherry-pick

    # add .
    aa = add .

    # add --patch
    ap = add --patch

    # diff
    d = diff

    # diff --staged
    df = diff --staged




[merge]
	conflictstyle = diff3
[github]
	user = jasonslchen
    email = jasonslchen@github.com

